@import "tailwindcss";
@import "@toolwind/anchors";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-crimson-text: var(--font-crimson-text);
}

.masking-gradation-top-to-bottom {
  mask: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.65),
    transparent
  );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

pre {
  font-size: 13px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
